{% extends "Frontend/base.html.twig" %}

{% block content %}
    <h1>CIM - Customer Invoice Manager</h1>
    <p class="important">
        Welcome to the homepage of CIM - Customer Invoice Manager.<br>Cim is a private application to manage invoices.
    </p>
{% endblock %}