{% extends "Frontend/base.html.twig" %}

{% block content %}
    <h1>Login</h1>
    <p class="important">
        This is the login page of Cim.
    </p>
    <form method="post" action="/services/login">
        <input name="username" type="text" placeholder="username">
        <input name="password" type="password" placeholder="password">
        <button type="submit" value="submit" name="submit">Login</button>
    </form>
{% endblock %}